*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    text-align: center;
    z-index: 99;
}
body{
    background: url(bg.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    min-height: 100vh;
}
.navbar{
    display: flex;
    
   
}
.navl{
    display: flex;
    
    text-align: center;
    width: 50%;
   
    justify-content: center;
    align-items: center;
}
.navl li{
    
    padding:26px 30px;
    list-style: none;
    font-size: large;
    font-style: normal;
    font-family: 'Times New Roman';
   
    

}

.navl li a{
    
    text-decoration: none;
    color: white;
    position: relative;
    font-weight: 500;
    

}


.navbar .btnlogin-popup{
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    margin-left: 40px;
    


}
.navbar .btnlogin-popup:hover{
    background: #fff;
    color: #162938;

}
.navbar .navl li a:hover{
    color: gray;
}
.rnav{
    width: 50%;
    
    text-align: right;
    padding: 10px;
    align-items: center;


}

.btn{
    
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    
   

}
.logo img{
    width:70px;
    height: 70px;
    border: 3px solid white;
    border-radius: 50px;

}
.scroll{
    
}
.slide{
    display: flex;
    padding-top: 20px;
    overflow-x: auto;
    max-height: 200px;
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    column-gap: 20px;
}
.slide::-webkit-scrollbar{
    width: 0px;
}
.box{
    flex: 0 0 30%;
    min-width: 110px;
    height: 110px;
    border: 3px;
    border-color: black;
    padding: 30px;
    background-color: aqua ;
    scroll-snap-align: start;
    border-radius: 25px;
}


.wrapper2{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    

}
.wrapper {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    
}
.wrapper .log{
    
    display: inline-block;
    width: 100%;
    padding: 30px;
    position: relative;
    width: 400px;
    height:440px ;
    background: transparent ;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow:0 0 30px rgba(0,0,0,.5,);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: block;
    
    
}

.reg .icon-close,
.log .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background: #162938;
    font-size:1.5em ;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items:center ;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    z-index: 1;




}
.log h2{
    font-size: 2em;
    color: white;
    text-align: center;
}
.reg h2{
    font-size: 2em;
    color: white;
    text-align: center;

}

.wrapper2 .reg{
    display: inline-block;
    position: relative;
    padding: 30px;
    width: 100%;
    width: 400px;
    height:440px ;
    background: transparent ;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow:0 0 30px rgba(0,0,0,.5,);
    display: flex;
    justify-content: center;
    align-items: center;
}








.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    color: black
    font-weight: 600;
    padding: 0 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height:57px; 
}
.remember-forget{
    font-size: .9em;
    color:white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color:  #162938 ;
    margin: 3px;
}
.remember-forget a {
    color: #162938;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.btn{
    width:100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;



}
